 span, h6, .Val, .MP, .lanc {
    background-color: #F1F7EE;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

h3, .lanc {
    border-radius: 30px;
    background-color: #F1F7EE;
}

.layer, .layer2{
    text-align: left;
    align-items: center;
}

.tipo, .lanc {
    text-align: center;
    color: #00396A;

}

.desp{
    text-align: center;
    font-weight: bolder;
    color: #DB200D;
}

.receb {
    text-align: center;
    font-weight: bolder;
    color: #35DB18;
}


@media screen and (min-width: 1200px){
    .lanc{
        margin-left: 4vw;
        margin-bottom: 3vw;
        padding-top: 1vh;
        padding-left: 1vw;
        padding-right: 1vw;
        height: 18vh;
        width: 24vw;
    }
    
    
    .tipo{
        font-size:larger;
        margin-top: 1vh;
        margin-bottom: 3vh;
    }
    
    .layer{
        padding-top: 2vh;
        padding-right: 1vw;
        color: black;
        display: flex;
        justify-content: space-between;  
    }
    
    .classe, .dataC, .dataD{
        font-size: small;
    }
    
    .Val{
        font-size: medium;
        font-weight: bold;
    }
}
/*
@media screen and (min-width: 768px) and (max-width: 1024px){
    .lanc{
        text-align: center;
        margin-bottom: 3vw;
        padding-top: 1vh;
        padding-left: 1vw;
        padding-right: 1vw;
        height: 18vh;
        width: 26vw;
    }
    .tipo{
        font-size:larger;
        margin-top: 1vh;
        margin-bottom: 1.5vh;
    }
    
    .layer, .layer2{
        color: black;
        text-align: center;
        align-items: center;
        display: inline-block;
        margin-top: 1vh;
    }

    
    .classe, .dataC, .dataD{
        font-size: small;
    }
    
    .Val{
        font-size: medium;
        font-weight: bold;
    }
}
*/

@media screen and (min-width: 768px) and (max-width: 1024px){
    .lanc{
        text-align: center;
        margin-bottom: 3vw;
        padding-top: 1vh;
        padding-left: 1vw;
        padding-right: 1vw;
        height: 18vh;
        width: 40vw;
    }
    .tipo{
        font-size:larger;
        margin-top: 1vh;
        margin-bottom: 1.5vh;
    }
    
    .layer, .layer2{
        color: black;
        text-align: center;
        align-items: center;
        display: inline-block;
        margin-top: 1vh;
    }

    
    .classe, .dataC, .dataD{
        font-size: 1rem;
    }
    
    .Val{
        font-size: medium;
        font-weight: bold;
    }
}

@media screen and (max-width: 640px){
    strong {
        font-size: x-large;
        font-weight: bold;
    }

    .lanc{

        margin-bottom: 5vw;
        padding-top: 1vh;
        height: 20vh;
        width: 80vw;
    }
    
    
    .tipo{
        margin-top: 0.7vh;
        margin-bottom: 2.7vh;
    }
    
    .layer{
        margin-top: 0.5vh;
        padding-top: 2vh;
        padding-right: 5vw;
        padding-left: 5vw;
        color: black;
        display: flex;
        justify-content: space-between;  
    }
    
    .classe, .dataC, .dataD{
        font-size: 0.75rem;
    }
    
    .Val{
        font-size: large;
        font-weight: bold;
    }
}