* {
  box-sizing: initial;
  background-color: #377EB8;
}

body {
  margin: -20;
  color:white;
  padding-left: 20%;
  font-size: 23px;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

