.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius:10% ;
}

.container h1 {
  margin: 10% 0 3%;
  color:#00396A;
}

.container input {
  width: 90%;
  padding: 10%;

  background: white;
  border-radius: 50px;
  border: none;

  font-size: 6vw;
}

.container button {
  width: 350%;
  padding: 2%;

  font-weight: 700;

  background: #00396A ;
  color: #fff;

  border-radius: 3px;
  margin: 3% 0 10%;
  border: none;

  cursor: pointer;
  transition: filter 0.2s;

  font-size: 5vw;
}


.container button:hover {
  filter: brightness(0.9);
}

@media (min-width: 768px) {
  .container h1 {
    margin: 3% 0 2%;
  }

  .container input {
    width: 20%;
    padding-left: 1%;
    padding: 2%;
    padding-right: 1%;
    margin-top: 1.5%;

    font-size: 1.6vw;
  }

  .container button {
    width: 15%;

    padding-left: 2%;
    border-radius: 10%;


    margin-top: 2% 10% 8%;

    font-size: 1.3vw;
    font-size: 2vw;
  }
}
