/* 768px - 1024px = telas menores, laptops */
@media (min-width: 768px) {
    


/*  GUIA DE NAVEGAÇÃO */

.Desktop h3{

    display: none;
  
  }

.Desktop{
    /* Background 1*/
    box-sizing: border-box;

    position: relative;
    width: 1260vw;
    height: 1024vh;
    
}

.Desktop h1{

    /* Rentângulo do Simulador de Vendas */
    position: absolute;
    width: 95vw;
    height: 15vh;
    left: 19vw;
    top: -3vh;
 
}

.simuladordevendas{

    /* Simulador de Vendas*/
    position: absolute;
    width: 482px;
    height: 0px;
    left: 210px;
    top: 10px;
            
    font-size: 38px;
}

.Desktop h2{
    /*Background 2*/
    position: absolute;
    width: 94vw;
    height: 183vh;
    left: 20vw;
    top: 15vh;   
}

.valordoproduto{

    /*caixa azul*/
    position: absolute;    

    /*Valor do Produto*/
    position: absolute;
    width:25vw;
    height:16vh;
    left: 15vw;
    top: 0vh; 
    font-size: 28px;    
}

.pagamento{
    
    /* botão azul */

    position: absolute;
 
    /* Bandeira do Cartão */
    position: absolute;
    width:25vw;
    height:16vh;
    left: 15vw;
    top: 50vh; 
    font-size: 28px;  
}

.taxadamaquininha{

    /* botão azul */
    position: absolute;

    /* Taxa da Maquininha */

    position: absolute;
    width:25vw;
    height:16vh;
    left: 15vw;
    top: 25vh; 
    font-size: 28px; 
}

.ndeparcelas{

    /* botão azul */
    position: absolute;

    /* Nº de Parcelas */

    position: absolute;
    width:25vw;
    height:16vh;
    left: 15vw;
    top: 75vh; 
    font-size: 28px; 
}

/*  Inputs  */

.rs{

    /*Input valor do Produto*/

    position: absolute;
    width: 15vw;
    height:7vh;
    left: 57vw;
    top: 9.8vh;
    font-size: 26px;
}

.section1{

    /* Section 1 */


    position: absolute;
    width: 7vw;
    height:7vh;
    left: 50vw;
    top: 6vh;
         
}

.money{

    /* R$ */


    position: absolute;
    width: 7vw;
    height:7vh;
    left: 50.5vw;
    top: 8vh;
    font-size: 22px;
}

.taxa{

    /* Input da Taxa */

    position: absolute;
    width: 15vw;
    height:7vh;
    left: 50vw;
    top: 34vh;
    font-size: 26px;
}

.section2{

    position: absolute;
    width: 7vw;
    height:7vh;
    left: 65vw;
    top: 30.2vh;
}

.juros{

    /* % */
    position: absolute;
    width: 7vw;
    height:7vh;
    left: 64.5vw;
    top: 31.2vh;
    font-size: 26px;

}

.pagamentos{

    /* Input de Forma de Pagamento */
    position: absolute;
    width: 22vw;
    height:7vh;
    left: 50vw;
    top: 59vh;
    font-size: 24px;
}

.parcela{

    /*Input Nº de Parcelas*/

    position: absolute;
    width: 15vw;
    height:7vh;
    left: 50vw;
    top: 84vh;
    font-size: 26px;
}

.section3{

    /* Section 3 */
    position: absolute;
    width: 7vw;
    height:7vh;
    left: 65vw;
    top: 80.2vh;
}

.vezes{

    /* X */
    position: absolute;
    width: 7vw;
    height:7vh;
    left: 64.5vw;
    top: 81vh;
    font-size: 26px;
}



/*  Tabela  */
.tabela{

    /*Tabela*/
    position: absolute;
    width: 90vw;
    height:75vh;
    left: 2vw;
    top: 98vh; 
}

.formadepagamento{

    /* Forma de Pagamento */

    position: absolute;
    left: 8vw;
    top: 100vh; 
    font-size: 26px;
}

.valorasercobrado{

    /* Valor a ser Cobrado */
    position: absolute;
    left: 38vw;
    top: 100vh;
    width: 150px; 
    font-size: 26px;

}

.valoraserrecebido{

    /* Valor a ser Recebido */
    position: absolute;
    left: 68vw;
    top: 100vh; 
    width: 150px;
    font-size: 26px;
}

.debito{

    /* Débito */
    position: absolute;
    left: 10vw;
    top: 116vh; 
    font-size: 28px;
}

.creditoavista{

    /* Crédito à Vista */
    position: absolute;
    left: 5vw;
    top: 135vh;
    width: 150px; 
    font-size: 28px;

}

.creditoparcelado{

    /* Crédito Parcelado */
    position: absolute;
    left: 5vw;
    top: 155vh;
    width: 150px; 
    font-size: 28px;

}

.linha1{

    /*Linha 1*/

    position: absolute;
    width: 89.3vw;
    height: 0vh;
    left: 2vw;
    top: 112vh;

}

.linha2{

    /*Linha 2*/
    position: absolute;
    width: 89.3vw;
    height: 0vh;
    left: 2vw;
    top: 128vh;
}

.linha3{

    /*Linha 3*/
    position: absolute;
    width: 89.3vw;
    height: 0vh;
    left: 2vw;
    top: 150vh;
}

.coluna1{

    /*Coluna1*/

    position: absolute;
    width: 61.5vw;
    height: 0vh;
    left: 1vw;
    top: 135vh;
}

.coluna2{

    /*Coluna2*/

    position: absolute;
    width: 61.5vw;
    height: 0vh;
    left: 33vw;
    top: 135vh;
}

}