.sidebarItem {
    background-color: rgb(27, 114, 148);

    display: flex;
    justify-content: space-between;
    padding: 15px 30px 15px 30px;
    margin-bottom: 40px;

    border-top: 1.5px solid rgb(49, 142, 179);
    border-bottom: 1.5px solid rgb(49, 142, 179);

    font-size: 20px;
    color: #fff;
    text-decoration: none;

    border: 30px;

}

.sidebarContainer :hover{
    background-color: rgb(52, 150, 189);
    cursor: pointer;
}