.card {
  margin-top: 5vh;
  height: 8vh;
  width: 30vw;
  background:#00396A;  
  color: #fff;
  border-radius: 10px;
  margin-right: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  padding-left: 10px;
}

.card strong {
  font-size: 25px;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .card {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .card strong {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
