.container {
  display: flex;
  background-color: #377EB8;
}

.container h1 {
  margin: 10% 0 3%;
  color:#00396A;
}

.container input {
  width: 90%;
  padding: 10%;

  background: white;
  border-radius: 50px;
  border: none;

  font-size: 6vw;
}

.container button:hover {
  filter: brightness(0.9);
}

.Menu{
    background-color: #00396A;
    float: left;
    margin-left: 6vh;
    margin-right: 3vw;
    border-radius: 30px;
    height: 100vh;
    width: 24vw;
}

.Topo{
  color: #F1EFF0;
  background-color: #00396A;
  text-align: center;
  padding: 1px;
  height: 7vh;
  width: 25vw;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;

}


.Conteudo{
  margin-left: 20vw;
  float: right;
}

@media (min-width: 768px) {
  .container h1 {
    margin: 3% 0 2%;
  }

  .container input {
    width: 20%;
    padding-left: 1%;
    padding: 2%;
    padding-right: 1%;
    margin-top: 1.5%;

    font-size: 1.6vw;
  }

  .container button {
    width: 15%;

    padding-left: 2%;
    border-radius: 10%;


    margin-top: 2% 10% 8%;

    font-size: 1.3vw;
    font-size: 2vw;
  }
}
