.menu {
    background-color: rgb(16, 72, 203);
    padding: 2% 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Desktop h3 {
    position: absolute;
    width: 100vw;
    height: 10vh;
    top: 10vh;
    background: #00396A;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
}

.justa {
    position: absolute;
    width: 33vw;
    left: -9vw;
    top: 2vh;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4vw;
    line-height: 1.2;
    text-align: center;
    color: #00396A;
}

.traço {
    position: absolute;
    width: 100vw;
    height: 0.2vh;
    top: 8vh;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.bloco1 {
    position: absolute;
    width: 26.65vw;
    height: 9vh;
    top: 20vh;
    left: 0vw;
    background: #377EB8;
    border: 3px solid #00396A;
}

.bloco2 {
    position: absolute;
    width: 26.65vw;
    height: 9vh;
    top: 35vh;
    left: 0vw;
    background: #377EB8;
    border: 3px solid #00396A;
}

.bloco3 {
    position: absolute;
    width: 26.65vw;
    height: 9vh;
    top: 50vh;
    left: 0vw;
    background: #377EB8;
    border: 3px solid #00396A;
}

.bloco4 {
    position: absolute;
    width: 26.9vw;
    height: 9vh;
    top: 65vh;
    left: 0.2vw;
    background: #377EB8;
    border: 3px solid #00396A;
}

.bloco5 {
    position: absolute;
    width: 26.65vw;
    height: 9vh;
    top: 80vh;
    left: 0.1vw;
    background: #377EB8;
    border: 3px solid #00396A;
}
.bloco6 {
    position: absolute;
    width: 26.65vw;
    height: 9vh;
    left: 0.1vw;
    top: 95vh;
    background: #377EB8;
    border: 3px solid #00396A;
  }
  
  .telainicial {
    position: absolute;
    width: 15%;
    height: 3%;
    left: 5%;
    top: 25%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    line-height: 2.5vw;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .saldodevendas {
    position: absolute;
    width: 20%;
    height: 3%;
    left: 5%;
    top: 40%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    line-height: 2.5vw;
    display: flex;
    align-items: center;
    text-align: center;
    color: white; 
  }
  
  .lançamentos {
    position: absolute;
    width: 16%;
    height: 3%;
    left: 5%;
    top: 55%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    line-height: 2.5vw;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .simulaçoes {
    position: absolute;
    width: 14%;
    height: 3%;
    left: 5%;
    top: 70%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    line-height: 2.5vw;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .boleto {
    position: absolute;
    width: 14%;
    height: 3%;
    left: 5%;
    top: 86%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    line-height: 2.5vw;
    display: flex;
    align-items: center;
    text-align: center;
    color: white; 
  }
  
  .emprestimo {
    position: absolute;
    width: 14%;
    height: 3%;
    left: 5%;
    top: 102%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    line-height: 2.5vw;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
  }
  