.Desktop{
    /* Background 1*/
    box-sizing: border-box;

    position: relative;
    width: 1440px;
    height: 1024px;

    background: #377EB8;
    border: 1px solid #00396A;

    
}

.Desktop h1{


    /* Rentângulo do Simulador de Vendas */


    position: absolute;
    width: 872px;
    height: 80px;
    left: 438px;
    top: 62px;

    background: #00396A;
    border-radius: 20px; 
}

.simuladordevendas{

    /* Simulador de Vendas*/
    position: absolute;
    width: 382px;
    height: 0px;
    left: 280px;
    top: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 24px;
    /* identical to box height, or 60% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    
}

.Desktop h2{
    /*Background 2*/
    position: absolute;
    width: 870px;
    height: 830px;
    left: 440px;
    top: 170px;

    background: #4E94CD;
    border-radius: 20px;
    
} 

.valordoproduto{

    /*caixa azul*/
    position: absolute;
    /*width: 180px;
    height: 100px;
    left: 300px;
    top: 215px;*/

    background: #00396A;
    border-radius: 20px;

    /*Valor do Produto*/
    position: absolute;
    width: 180px;
    height: 100px;
    left: 30px;
    top: 30px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}

.pagamento{
    
    /* botão azul */


    position: absolute;
    /*width: 180px;
    height: 100px;
    left: 460px;
    top: 412px;*/

    background: #00396A;
    border-radius: 20px;

    /* Bandeira do Cartão */


    position: absolute;
    width: 180px;
    height: 100px;
    left: 30px;
    top: 230px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.taxadamaquininha{

    /* botão azul */


    position: absolute;
    /*width: 180px;
    height: 100px;
    left: 460px;
    top: 412px;*/

    background: #00396A;
    border-radius: 20px;
    
    /* Taxa da Maquininha */


    position: absolute;
    width: 180px;
    height: 100px;
    left: 460px;
    top: 30px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}

.ndeparcelas{

    /* botão azul */


    position: absolute;
    /*width: 180px;
    height: 100px;
    left: 460px;
    top: 412px;*/

    background: #00396A;
    border-radius: 20px;
    
    /* Nº de Parcelas */


    position: absolute;
    width: 180px;
    height: 100px;
    left: 460px;
    top: 230px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.rs{

    /*Input valor do Produto*/

    box-sizing: border-box;

    position: absolute;
    width: 119px;
    height: 49px;
    left: 300px;
    top: 81px;

    background: #FFFFFF;
    border: 3px solid #00396A;
    border-radius: 0px 20px 20px 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 23px;
    color: #00396A;
    
    
}

.taxa{

    /* Input da Taxa */


    box-sizing: border-box;

    position: absolute;
    width: 119px;
    height: 49px;
    left: 677px;
    top: 80px;

    background: #FFFFFF;
    border: 3px solid #00396A;
    border-radius: 20px 0px 0px 20px;
   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    line-height: 23px;
    color: #00396A;
}

.pagamentos{

    /* Input de Forma de Pagamento */


    box-sizing: border-box;

    position: absolute;
    width: 170px;
    height: 49px;
    left: 250px;
    top: 280px;

    background: #FFFFFF;
    border: 3px solid #00396A;
    border-radius: 20px; 

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    line-height: 23px;
    color: #00396A;

    
}

.parcela{

    /*Input Nº de Parcelas*/

    box-sizing: border-box;

    position: absolute;
    width: 119px;
    height: 49px;
    left: 677px;
    top: 280px;
    background: #FFFFFF;
    border: 3px solid #00396A;
    border-radius: 20px 0px 0px 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    line-height: 23px;
    color: #00396A;
}

.section1{

    /* Section 1 */


    position: absolute;
    width: 50px;
    height: 48px;
    left: 250px;
    top: 57px;

    background: #00396A;
    border-radius: 20px 0px 0px 20px;
         
}

.money{

    /* R$ */


    /* R$ */


    position: absolute;
    width: 25px;
    height: 23px;
    left: 270px;
    top: 74px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;

    
}

.section2{

    /* Section 2 */


    position: absolute;
    width: 44px;
    height: 49px;
    left: 796px;
    top: 56px;

    background: #00396A;
    border-radius: 0px 20px 20px 0px;
}

.juros{

    /* % */


    position: absolute;
    width: 18px;
    height: 28px;
    left: 806px;
    top: 67px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}

.section3{

    /* Section 3 */


    position: absolute;
    width: 44px;
    height: 49px;
    left: 796px;
    top: 256px;

    background: #00396A;
    border-radius: 0px 20px 20px 0px;
}

.vezes{

    /* X */


    position: absolute;
    width: 18px;
    height: 28px;
    left: 805px;
    top: 266px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}