/* 1024px - 1200px = desktop */
@media (min-width: 1024px) {

    .Vdebito{

        position: absolute;
        left: 81vw;
        top: 117vh;
        font-size: 28px;
    
    }
    
    .Vcredito{
    
        position: absolute;
        left: 81vw;
        top: 131vh;
        font-size: 28px;
    }
    
    .Vparcelado{
        
        position: absolute;
        left: 81vw;
        top: 146vh;
        font-size: 28px;
    }
    
    .recdebito{
    
        position: absolute;
        left: 102vw;
        top: 117vh;
        font-size: 28px;
    }
    
    .reccreditovista{
    
        position: absolute;
        left: 102vw;
        top: 131vh;
        font-size: 28px;
    }
    
    .recparcelado{
    
        position: absolute;
        left: 102vw;
        top: 146vh;
        font-size: 28px;
    }
}


/*  Tablet  */
@media (min-width: 480px) and (max-width: 768px){

    .Vdebito{

        position: absolute;
        width: 181px;
        height: 52px;
        left: 720px;
        top: 1120px;

        font-size: 28px;
    
    }
    
    .Vcredito{
    
        position: absolute;
        width: 181px;
        height: 52px;
        left: 720px;
        top: 1240px;
    
        font-size: 28px;
    }
    
    .Vparcelado{

        position: absolute;
        width: 181px;
        height: 52px;
        left: 720px;
        top: 1360px;
    
        font-size: 28px;
    }
    
    .recdebito{
    
        position: absolute;
        width: 181px;
        height: 52px;
        left: 955px;
        top: 1120px;

        font-size: 28px;
    }
    
    .reccreditovista{
    
        position: absolute;
        width: 181px;
        height: 52px;
        left: 955px;
        top: 1240px;

        font-size: 28px;
    }
    
    .recparcelado{
    
        position: absolute;
        width: 181px;
        height: 52px;
        left: 955px;
        top: 1360px;

        font-size: 28px;
    }
}

