body {
    color: whitesmoke;
    font-family: monospace;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.title_videos {
   width: 540px;
   margin-bottom: 35px;
}

.blocoVideo {
    margin-bottom: 50px;
    padding: 20px 0 20px 0;
    border-radius: 20px;

    background-color: #4185bc;
}

@media (min-width: 480px) and (max-width: 767px){
    .cursos {
        align-items: center;
        text-align: center;
        margin: 0;
    }
    
    .cursosH1 {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 25px;
    }
}