/* 1024px - 1200px = desktop */
@media (min-width: 1024px) {

    .Vdebito{

        position: absolute;
        left: 81vw;
        top: 117vh;
        font-size: 28px;
    
    }
    
    .Vcredito{
    
        position: absolute;
        left: 81vw;
        top: 131vh;
        font-size: 28px;
    }
    
    .Vparcelado{
        
        position: absolute;
        left: 81vw;
        top: 146vh;
        font-size: 28px;
    }
    
    .recdebito{
    
        position: absolute;
        left: 102vw;
        top: 117vh;
        font-size: 28px;
    }
    
    .reccreditovista{
    
        position: absolute;
        left: 102vw;
        top: 131vh;
        font-size: 28px;
    }
    
    .recparcelado{
    
        position: absolute;
        left: 102vw;
        top: 146vh;
        font-size: 28px;
    }
}


/*  Mobile  */
@media (min-width: 480px) and (max-width: 767px){

    .Vdebito{

        position: absolute;
        left: 41vw;
        top: 131vh;
        font-size: 22px;
    
    }
    
    .Vcredito{
    
        position: absolute;
        left: 41vw;
        top: 145vh;
        font-size: 22px;
    }
    
    .Vparcelado{

        position: absolute;
        left: 41vw;
        top: 160vh;
        font-size: 22px;
    }
    
    .recdebito{
    
        position: absolute;
        left: 70vw;
        top: 131vh;
        font-size: 22px;
    }
    
    .reccreditovista{
    
        position: absolute;
        left: 70vw;
        top: 145vh;
        font-size: 22px;
    }
    
    .recparcelado{
    
        position: absolute;
        left: 70vw;
        top: 160vh;
        font-size: 22px;
    }
}

/*  Tablet  */
@media (min-width: 768px) {

    .Vdebito{

        position: absolute;
        left: 59vw;
        top: 138vh;
        font-size: 28px;
    
    }
    
    .Vcredito{
        position: absolute;
        left: 59vw;
        top: 157vh;
        font-size: 28px;
    }
    
    .Vparcelado{

        position: absolute;
        left: 59vw;
        top: 179vh;
        font-size: 28px;
    }
    
    .recdebito{
    
        position: absolute;
        left: 90vw;
        top: 138vh;
        font-size: 28px;
    }
    
    .reccreditovista{
    
        position: absolute;
        left: 90vw;
        top: 157vh;
        font-size: 28px;
    }
    
    .recparcelado{
    
        position: absolute;
        left: 90vw;
        top: 179vh;
        font-size: 28px;
    }

}